<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Mailer Buttons
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-offset-1">
          <%= render_followup_mailer_button(business) %>
          <%= render_stop_mailers_button(business) %>
        </div>
      </div>
    </div>
  </div>
</div>
