<tr>
  <td>
    <%= link_to email.delivery_date.try(:strftime, '%m/%d/%Y at %I:%M%p'),
      email_path(id: email, business_id: business.id) %>
  </td>
  <td>
    <%= link_to email.classification.humanize,
      email_path(id: email, business_id: business.id) %>
  </td>
  <td>
    <%= link_to email.subject,
      email_path(id: email, business_id: business.id) %>
  </td>
</tr>
