<h3>No data present</h3>
<p>To add client data, use the following options:</p>
<br/>
<div class="row">
  <div class="col-xs-1">
    <%= button_to "Create A New Client", new_business_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>
<%# <div class="row"> %>
<%#   <div class="col-xs-1"> %>
<%#     <%= button_to "Import Businesses from Square", import_businesses_path, method: :put, class: 'btn btn-success' %1> %>
<%#   </div> %>
<%# </div> %>
