<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Mailer Buttons
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-offset-1">
          <p>No mailer options are available at this time</p>
        </div>
      </div>
    </div>
  </div>
</div>
