<h3>No data present</h3>
<p>To add client data, see the following options:</p>
<ul>
  <li>
    <p><%= link_to("Create", new_business_path) %> a new client</p>
  </li>
  <li>
    <p><%= link_to("Import", import_businesses_path, method: :put) %> any new client(s) directly from Square.</p>
  </li>
</ul>
