<%- model_class = Business -%>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <div class="page-header">
    <h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
  </div>
  <%= form_for @business, url: business_path, method: :patch, html: { class: "form-horizontal business" } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</main>
