<%- model_class = Business -%>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <div class="page-header">
    <h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
  </div>
  <%= render partial: 'form' %>
</main>
