<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Overview</h1>

  <% if Business.any? %>
    <%= render partial: 'search_bar', locals: { businesses: businesses } %>
  <% else %>
    <%= render partial: 'no_data' %>
  <% end %>
</main>
