<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
</div>
<div class="row">
  <%= render partial: 'stat_panels' %>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Mailer Types Delivered weekly
      </div>
      <div class="panel-body">
        <%= render 'reports/mailers_sent' %>
        <%= link_to "View Details", reports_mailers_sent_path, class: 'btn btn-default btn-block' %>
      </div>
    </div>
  </div>
  <%= render partial: 'notifications/notifications_panel' %>
</div>
