<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <%= create_subnav_link "Cost Of Goods", businesses_path %>
    <%= create_subnav_link "Mailers Sent", new_business_path %>
  </ul>
</nav>
