<div class="col-lg-<%= controller_name == "dashboard" ? "4": "12" %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bell fa-fw"></i> Notifications
    </div>
    <div class="panel-body">
      <div class="list-group">
       <%= render partial: 'notifications/notification', collection: @notifications %>
      </div>
    </div>
  </div>
  <% if controller_name == "dashboard" %>
    <%= link_to "View All Alerts", notifications_path, class: "btn btn-default btn-block" %>
  <% end %>
</div>
