<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Assistant Settings</h1>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            Sidekiq Admin
          </div>
          <div class="panel-body">
            <p>Background processing.</p>
          </div>
          <div class="panel-footer">
            <%= link_to "Launch Sidekiq", sidekiq_web_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
