<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= "An incoming email from #{@business_name} was received and as a result the contact email flow has been cancelled." %>
    </p>

    <p>
      <%= "XOXO," %>
    </p>

    <p>
      <%= "Made Assistant"%>
      <br />
      <%= link_to("made-assistant.herokuapp.com", "https://made-assistant.herokuapp.com") %>
    </p>
  </body>
</html>
