.fc-time-grid .fc-slats td {
  height: 3.5em;
}

.fc-time-grid-event {
  border: 1px solid #3a87ad;
  background-color: #3a87ad;
  color: #fff;
  font-size: .85em;
  cursor: default;
  min-height: 30px;
}
