.logo-signin {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 25px;
  text-align: center;
  margin: auto;
}

.logo-signin a img {
  height: 37px;
  width: 110px;
}

.devise-links {
  text-align: center;
  padding-top: 20px;
}
